[package]
name = "core"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = "0.8.5"
getrandom = { version = "0.2", features = ["js"] }
serde = "1.0.152"
serde_derive = "1.0.152"
serde_json = "1.0.91"
wasm-bindgen = "0.2.83"

[lib]
crate-type = ["cdylib", "rlib"]
